body {
  margin: 0;
  font-family: sans-serif;
  color:white;
}

.bg-image {
  width: 100%;
  height: 70vh;
  background: url("Img/aon.llp.png");
  background-position: center;
  background-attachment: fixed;
  background-size: 160%;
}
header {
  background:linear-gradient(to right,black,blue);
  color:white;
  display:flex;
  padding:10px;
  font-size:x-large;
  justify-content:space-between;
  position:fixed;
  left:0;
  right:0;
  top:0;
}
text {
font-size:medium;
}
button {
background-color:blue;
color:white;
padding:5px;
margin:px;
border-radius:10px;
font-size:large;
border:1px solid #673ab7;
}
button:hover {
color:#673ab7;
background-color:white;
border:1px solid blue;
}
img {
  width: 100%;
}
.container {
  padding: 100px;
  background:linear-gradient(to right,black,blue);
}

h2 {
  font-size: 30px;
  color:white;
}
p {
  color: white;
}

@media (max-width: 500px) {
  .container {
    padding: 10px;
  }
}
ontainer {
  padding: 100px;
}

h1 {
  font-size: 50px;
}
p {
  color: white;
}

@media (max-width: 500px) {
  .container {
    padding: 10px;
  }
}
hr {
border:0.25px solid white;
}